.greet {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  position: relative;
}

.postcard {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.intro-image-wrapper {
  width: 20vw;
  max-width: 245px;
  margin-left: 20px;
}

.postcard-text {
  margin: auto;
  width: 100%;
}

.intro-contact-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto;
  width: 100%;
}

.postcard-firstline {
  font-family: semibold;
  font-size: 28px;
}

.postcard-firstline-chinese {
  font-size: 16px;
}

.postcard-secondline {
  font-family: Alegreya;
}

.postcard-thirdline {
  font-family: Alegreya;
}





.intro-image {
  display: block;
  margin: 0 auto;
}



.intro-contact-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.intro-contact-icon:hover {
  cursor: pointer;
}

/* .intro-contact-email {
  
} */