#root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.main-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 70vw;
  height: 90vh;
}

/* Consider narrow screen (e.g. mobile phone) */
@media screen and (max-width: 660px) {
  .main-container {
    width: 90vw;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: semibold;
  src: url('/fonts/Alegreya-SemiBold.ttf');
}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/Alegreya-Regular.ttf');
}